* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  text-align: center;
}

.outflame {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px 150px;
  margin-top: 10px;
  justify-content: center;
}

.outflame div {
  background-color: whitesmoke;
  border: dotted 1px #2D2D2D;
  border-radius: 150%;
  color: #2D2D2D;
  font-size: 50px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  width: 140px;
}

.control {
  margin-top: 5px;
}

button {
  border-radius: 50%;
  font-size: 20px;
  margin: 10px;
  height: 100px;
  width: 100px;
}

#btnStart {
  background-color: #FF5917;
}

#btnStop {
  background-color: #F9D46B;
}

#btnReset {
  color: whitesmoke;
  background-color: #2D2D2D
}

.selecting {
  background-color: #F9D46B !important;
}

.selected {
  background-color: #FF5917 !important;
}

.inactive {
  background-color: #2D2D2D !important;
  color: whitesmoke !important;
}